@charset "UTF-8";

:root {
    --borda: 1px solid #ffffff1a;
}

html {
    padding-bottom: 9px;
}

body, table, input, button {
    font: 16px/140% sans-serif;
    font-family: candara;
}

body {
    background: black;
    color: white;
    font-weight: bolder;
}

.container {
    max-width: 690px;
    margin: 0 auto;
    padding: 20px 32px;
}

header {
    padding: 20px 0px;
}

form {
    border: var(--borda);
    border-inline: none;
    padding-bottom: 10px;
}

fieldset {
    border: 3px solid purple;
    border-radius: 10px;
}

fieldset > div {
    display: flex;
    gap: 12px;
}

.input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    border: var(--borda);
    border-radius: 10px;
    padding: 8px 12px;
    font: 400 14px/150% 'candara', sans-serif;
    color: #c4c4cc;
}

input {
    all: unset;
}

table {
    margin-top: 10px;
    border: 3px solid purple;
    border-radius: 10px;
}

table thead {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

thead th, tbody td {
    padding: 12px 16px;
}

tbody td {
    border-top: var(--borda);
    color: #c4c4cc;
}

tbody td strong {
    color: white;
    font-size: 16px;
    line-height: 16px;
}

tbody td button {
    all: unset;
    color: #9ff9cc;
}

tbody td button:hover {
    text-decoration: underline;
}

input {
    border: 0px;
    border-radius: 5px;
}

button {
    width: fit-content;
    border: 0px;
    border-radius: 10px;
    background: #f48f56;
    padding: 7px 20px;
    font: 700 12px/24px 'candara', sans-serif;
    color: #00292e;
}

button:hover {
    background: #f37c37;
}